caption{
    background-color: aqua;
    
}
.yelow{
    background-color: yellow;
}
table{
    border-collapse: collapse;
    width: 1100px;
    color: azure;
    
}
.yelot{
    background-color: red;
}
.yeloe{
    background-color: red;
}
.yeloh{
    background-color: green;
}
.ter{
    color: black;
}